//
// // Button variants
// //
//
// // Soft
//

label {
  line-height: 1;
}

.btn {
  text-transform: none !important;
}

@each $color, $value in $theme-colors {
  .btn-#{$color}-subtle {
    // Soft colors for background and border
    $soft-bg: shift-color($value, $btn-soft-bg-level);
    $soft-border: shift-color($value, $btn-soft-border-level);
    $soft-color: $value;

    // Using initial values for hover and active states
    $hover-bg: $value;
    $hover-border: $value;
    $hover-color: $white;
    $active-bg: $value;
    $active-border: shade-color($value, $btn-active-border-shade-amount);
    $active-color: $white;

    // Applying the mixin button-variant
    @include button-variant($soft-bg, $soft-border, $soft-color, $hover-bg, $hover-border, $hover-color, $active-bg, $active-border, $active-color);
  }
}

//
// // Link
//
@each $color, $value in $theme-colors {
  .btn-#{$color}-link {
    // Basic styles for neutral state
    background-color: transparent;
    border-color: transparent;
    color: $value; // Text color using the current main color

    // Using initial values for hover and active states
    $hover-bg: shift-color($value, $btn-soft-bg-level);
    $hover-border: shift-color($value, $btn-soft-bg-level);
    $hover-color: $value;
    $active-bg: shift-color($value, $btn-soft-bg-level);
    $active-border: shift-color($value, $btn-soft-bg-level);
    $active-color: $value;

    // Applying the mixin button-variant
    @include button-variant($hover-bg, $hover-border, $hover-color, $active-bg, $active-border, $active-color);

    // Styles for active states
    &:active, &.active, &:active:hover, &.show, .btn.active, .btn-check:checked + &, .btn-check:active + & {
      color: $value !important; // Maintenir la couleur du texte constante
    }
  }
}

//
// // Light button
//

.btn-light {

  // Basic styles for neutral state
  background-color: $white;
  border-color: shift-color($primary, $btn-soft-bg-level) !important;
  color: $body-color;
  box-shadow: none !important;

  // Styles for hover active states
  &:hover, &:active, &.active, &:active:hover, &.show, .btn-check:checked + &, .btn-check:active + & {
    background-color: shift-color($primary, $btn-soft-bg-level) !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

//
// // Extra Small button size
//
$btn-padding-y-xs:      .125rem !default;
$btn-padding-x-xs:      .275rem !default;
$btn-font-size-xs:      .75rem !default;
$btn-border-radius-sm:  .0375rem !default;

.btn-xs {
 @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-sm);
}

//
// // Button square (for icon only buttons)
//
$btn-square-width:                      2.5rem !default;
$btn-square-width-lg:                   3.125rem !default;
$btn-square-width-sm:                   2.0625rem !default;
$btn-square-width-xs:                   1.625rem !default;

.btn-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $btn-square-width;
    height: $btn-square-width;

    &.btn-xs {
        width: $btn-square-width-xs;
        height: $btn-square-width-xs;
    }

    &.btn-sm {
        width: $btn-square-width-sm;
        height: $btn-square-width-sm;
    }

    &.btn-lg {
        width: $btn-square-width-lg;
        height: $btn-square-width-lg;
    }
}

//
// // Responsive
//
// Appliquer le style `.btn-sm` aux `.btn` sous le breakpoint 'lg'
@media (max-width: 991px) {  // Bootstrap 'lg' starts at 992px
  .btn {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  }
  .btn-square {
    width: $btn-square-width-sm;
    height: $btn-square-width-sm;
  }
}
