// //
// // // Icons
// //

// Flaticon library
i[class^="fi-rs-"]:before, i[class*=" fi-rs-"]:before, span[class^="fi-rs-"]:before, span[class*="fi-rs-"]:before {
    line-height: 0 !important;
}
i.fi {
    margin-bottom: -2.5px;
}

// // Icons sizes
//
$icon-size:                     3rem !default;
$icon-size-xl:                  5rem !default;
$icon-size-lg:                  4rem !default;
$icon-size-md:                  2.5rem !default;
$icon-size-sm:                  2rem !default;
$icon-size-xs:                  1.25rem !default;
$icon-border-width:             3px !default;
$icon-bg-level:                 -70% !default;
//
//
// //SVG icons
//
$svg-icon-stroke-linecap:       round !default;
$svg-icon-size:                 1em !default;
$svg-icon-stroke-width:         2px !default;
//
//

//
// Icon
//

.icon {
	font-size: calc($icon-size / 1.75);
	line-height: 1;

	svg {
		width: $svg-icon-size;
    height: $svg-icon-size;
	}
}

// Size variations

.icon-xl {
	font-size: calc($icon-size-xl / 1.75);
}

.icon-lg {
	font-size: calc($icon-size-lg / 1.75);
}

.icon-md {
	font-size: calc($icon-size-md / 1.75);
}

.icon-sm {
	font-size: calc($icon-size-sm / 1.75);
}

.icon-xs {
	font-size: calc($icon-size-xs / 1.75);
}

//
// Icon shapes
//

.icon-square {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	border-radius: $border-radius;
	width: $icon-size;
	height: $icon-size;

	&.icon-xl {
		width: $icon-size-xl;
		height: $icon-size-xl;
	}

	&.icon-lg {
		width: $icon-size-lg;
		height: $icon-size-lg;
	}

	&.icon-md {
		width: $icon-size-md;
		height: $icon-size-md;
	}

	&.icon-sm {
		width: $icon-size-sm;
		height: $icon-size-sm;
	}

	&.icon-xs {
		width: $icon-size-xs;
		height: $icon-size-xs;
	}
}

.icon-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	border-radius: 100%;
	width: $icon-size;
	height: $icon-size;

	&.icon-xl {
		width: $icon-size-xl;
		height: $icon-size-xl;
	}

	&.icon-lg {
		width: $icon-size-lg;
		height: $icon-size-lg;
	}

	&.icon-sm {
		width: $icon-size-md;
		height: $icon-size-md;
	}

	&.icon-sm {
		width: $icon-size-sm;
		height: $icon-size-sm;
	}

	&.icon-xs {
		width: $icon-size-xs;
		height: $icon-size-xs;
	}
}
