//
// Progress
//

// Sizing

.progress.progress-lg {
    height: 1.25rem;
}
.progress.progress-md {
    height: .5rem;
}
.progress.progress-sm {
    height: .375rem;
}
.progress.progress-xs {
    height: .125rem;
}
