table th {
  font-size: $sub-sup-font-size;
  text-transform: uppercase;
}
table th a {
  color: $body-color;
}

/*--- Column of actions - Fixed for large screen only---*/

@media (min-width: 992px) {
.table-responsive.table-actions  {
  min-height: 300px !important;
}
.table-actions  th.action, .table-actions td.action {
  position:sticky;
  right:0px;
  vertical-align: middle;
  z-index: 1;
  text-align: left;
  width: 50px;
}
}

.table-actions td.action {
background-color: $light;
}

.table-actions .dropleft .dropdown-menu {
  margin-right: 10px !important;
  max-height: 140px !important;
  overflow-y: auto !important;
}

/*--- Contextual action buttons in table rows only visible on hover - large screen only ---*/

@media (min-width: 992px) {
  .table-actions table tbody td:not(.action) .btn{
    visibility:hidden;
  }
  .table-actions table tbody tr:hover .btn{
    visibility:visible;
  }
}
