// Global styles for dashboard invest
.dashboard {
  h3 {
    margin: 0 !important;
  }

  .box_project {
    padding: 0 2%;

    &__inside {
      border: 1px solid #dddddd;
      padding: 6%;
    }

    img {
      width: 100%;
    }

    h3 {
      margin: 2% 0 !important;
    }

    span {
      font-size: 0.9em;
    }
  }
}

/*---------------------------------------------- ------------------ ----------------------------------------------*/
/*----------------------------------- Benefits section -------------------------------------------------------*/
/*---------------------------------------------- ------------------ ----------------------------------------------*/

#sponsorship,
#offers {
  padding: 0% 2%;
}

.benefits_head--ban {
  width: 20%;
}

.benefits_head {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: block;

  h2 {
    font-size: 2em;
    margin: 10px 0 0 0;
  }
}

.benefits_head--desc,
.benefits_tickets--left--desc,
.benefits_tickets--right--desc {
  font-size: 0.8em;
  font-weight: 300;
  margin: 0;
}

.mipise-modal-dialog {
  text-align: center !important;
  width: 30% !important;
}

.mipise-modal-container {
  display: -ms-flexbox;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.benefits_sponsor--title,
.benefits_godchilds--title {
  font-weight: 600;
  font-size: 1.5em;
}

.benefits_sponsor--card,
.benefits_gain--card {
  background-color: #fbf6ef;
  border-radius: 20px;
}

.benefits_godchilds--card {
  background-color: #fafafa;
  border-radius: 20px;
}

.sponsorship_sponsor--logo:before {
  content: url(https://res.cloudinary.com/hm3mec8bl/image/upload/msgmjjdu1aug2d9jqfb2) !important;
  width: 10%;
  display: block;
  margin: 0 auto;
}

.sponsorship_godchilds--logo:before {
  content: url(https://res.cloudinary.com/hm3mec8bl/image/upload/af1qvxw3e75q9w4lq26u) !important;
  width: 10%;
  display: block;
  margin: 0 auto;
}

.offers_godchilds--logo:before {
  content: url(https://res.cloudinary.com/hm3mec8bl/image/upload/msgmjjdu1aug2d9jqfb2) !important;
  width: 10%;
  display: block;
  margin: 0 auto;
}


.slider-container {
  max-width: 100% !important;
}

.slider-container .col .bx-wrapper {
  box-shadow: none;
  cursor: pointer;
}

/*---------------------------------------------- ------------------ ----------------------------------------------*/
/*----------------------------------- Benefits section end-------------------------------------------------------*/
/*---------------------------------------------- ------------------ ----------------------------------------------*/

.benefits_head--sub {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0
}

.benefits_tickets {
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 5% 0%;
  width: 85%;
  margin: 0 auto
}

.benefits_tickets--left {
  border-right: 2px dotted black
}


.benefits_tickets--left--amount,
.benefits_tickets--right--amount {
  font-size: 2em;
  font-weight: 600
}


.benefits_link {
  width: 100%;
  margin: 0 auto;
  padding: 2% 0%
}

.benefits_sponsor,
.benefits_godchilds {
  display: block;
  text-align: center;
}

.benefits_sponsor--card,
.benefits_gain--card,
.benefits_godchilds--card {
  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 4%
}

.benefits_godchilds--card {
  margin-top: 3%
}

.benefits_sponsor--title,
.benefits_godchilds--title {
  margin: 3%
}

.benefits_sponsor_card--left,
.benefits_godchilds_card--left {
  text-align: left
}

.benefits_sponsor_card--left h5,
.benefits_gain_card--left,
.benefits_godchilds_card--left h5 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  text-align: left
}

.benefits_sponsor_card--right,
.benefits_godchilds_card--right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center
}

.benefits_sponsor_card--amount,
.benefits_godchilds_card--amount,
.benefits_gain_card--right {
  font-size: 1.6em;
  font-weight: 600
}

@media only screen and (max-width: 1400px) {
  .benefits_tickets--left {
    border-right: 0;
    border-bottom: 2px dotted black;
    padding: 8% 0
  }

  .benefits_tickets--right {
    padding: 8% 0
  }

  .benefits_link--code {
    margin: 4% 0
  }
}