label {
    abbr[title] {
        display: none;
    }
}

.optional-text {
    font-size: $font-size-sm;
    color: $gray-500;
}

.bg-primary-subtle hr {
    border-color: $border-color;
}

.was-validated .btn-check:invalid + .btn {
    border-color: var(--#{$prefix}form-invalid-border-color);
    color: var(--#{$prefix}form-invalid-color);
}
