:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #1d1d1d !important;
  border-radius: 4px;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ffffff;
  text-shadow: none;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: hsla(0, 0%, 100%, 0) !important;
}