//
// General reboot
//

input,
.btn:not(.btn-xs, .btn-sm, .btn-lg, .btn-radio),
select,
optgroup {
  height: 45px;
}

.input-group-sm input,
select.form-select-sm {
  height: auto;
}

.btn:not(.btn-xs, .btn-sm, .btn-lg) {
  line-height: 1.85rem;
}

.cc-yv368 .cc-1kr6o .cc-18ov6 {
  bottom: 70px !important;
}

.vr {
  width: 1px;
  background-color: rgb(24 24 24 / 12%);
  opacity: 1;
}